body {
    background-color: whitesmoke
  }

p {
font-family: Verdana, Arial, sans-serif;
}

.itemName {
    font-weight: bold;
}

.itemDescrip {
    font-size: small;
}

.sectionBorder {
    padding: .5em;
    padding-top : .01em;
    padding-bottom : 5em; 

    border : 0.4em solid crimson;
    height : 4em;
    margin: 1em;
}

.groove {border-style: ridge;}

.remove-cart-item {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    margin: .5em;
}

.add-cart-item {
    color: black;
    background-color: turquoise;
    border: solid;
    border-radius: .3em;
    font-weight: bold;
    margin: .5em;
}

